// Styles for the management section

.outline-box {
  margin-bottom:$v-rhythm;
  padding:($v-rhythm / 2) 10px;
  border:1px solid $light-grey;
  border-radius:5px;
  .red-highlight {
    background-color:lighten($red, 50%);
    border:1px solid lighten($red, 45%);
    padding:($v-rhythm / 2) 10px;
  }
  .orange-highlight {
    background-color:lighten(orange, 20%);
    border:1px solid lighten(orange, 15%);
    padding:($v-rhythm / 2) 10px;
  }
  .green-highlight {
    background-color:lighten(greenyellow, 20%);
    border:1px solid lighten(greenyellow, 15%);
    padding:($v-rhythm / 2) 10px;
  }
}

.log-list {
  .note,
  .entry {
    margin-bottom:$v-rhythm / 2;
    padding:($v-rhythm / 2) 10px;
    &:last-child {
      margin-bottom:0;
    }
  }
  .note {
    border:1px solid $light-grey;
  }
  .entry {
    background-color:$light-grey;
    &.alert {
      background-color:lighten($red, 40%);
    }
    &.success {
      background-color:lighten(greenyellow, 20%);
    }
    &.update {
      background-color:lighten($blue, 60%);
    }
    &.warning {
      background-color:lighten(orange, 30%);
    }
  }
}

ul.display-iwo {
  li {
    margin-bottom:$v-rhythm;
    strong {
      display:block;
    }
    span {

    }
  }
}

ul.actions {
  li a {
    margin-bottom:$v-rhythm / 2;
    @include breakpoint($m-max) {
      display:block;
    }
  }
  @include breakpoint($m) {
    @include horizontal-list();
  }
}