// _modules.scss: modular pieces of code used throughout your project. Use modules to avoid repeating code.

.primary {
	@include primary-but();
}
.secondary {
	@include secondary-but();
}
.red-but {
  @include primary-but();
  background-color:$red;
  @include text-shadow(darken($red, 10%) 0 -1px);
  border-top: 1px solid lighten($red, 10%);
  border-bottom: 2px solid rgba(darken($red, 40%), 0.6);
  @include dark-grad($red, top, 10%);
}

.message-box {
  background-color:lighten(lightgreen, 20%);
  border:1px solid lightgreen;
  padding:$v-rhythm / 2 10px;
  margin-bottom:$v-rhythm;
  @include border-radius(5px);
}

.intro {
    margin-bottom: $v-rhythm;
  @include font-size(16);
  @include breakpoint($l) {
    @include font-size(18);
  }
}
.work-order-menu {
  li {
    margin-bottom:$v-rhythm;
    a {
      @include primary-but();
      &.highlight {
        @include dark-grad($red, top, 10%);
      }
      @include border-radius (5px);
      @include container(12);
      display:block;
      border-bottom:2px solid darken($blue, 30%);
      padding:($v-rhythm / 2) 10px;
      min-height:100px;
      @include breakpoint($l) {
        min-height:210px;
      }
      i {
        display:block;
        margin-top:20px;
        @include breakpoint($l-max) {
          display: none;
        }
        @include breakpoint($l) {
          padding:($v-rhythm / 2) 0;
        }
        @include breakpoint($s-max) {
          display:none;
        }
      }
      p {
          @include breakpoint($m-l) {
//              @include span(8 of 12 at 5);
              text-align:center;
            }
          @include font-size(22);
          font-weight:$font-bold;
          line-height: 1.4;
          margin-top:$v-rhythm / 2;
          margin-bottom:0;
        }
        }
//      @include breakpoint($l) {
//        @include gallery(3 of 12);
//      }
//    @include breakpoint($m-l) {
//        @include gallery(6 of 12);
//      }
      span {
        display: block;
        padding:10px;
        background-color:$light-grey;
        @include border-radius(0 0 5px 5px);
      }
      .info {
        cursor:pointer;
        background-color:$light-grey;
        @include border-radius(0 0 5px 5px);
        display:block;
        width:50px;
        margin:0 auto;
        text-align:center;
        padding:($v-rhythm / 2) 0;
        &:hover {
          opacity:0.7;
        }
      }
    }
}
.errors,
.error {
    @include clearfix();
	background-color:lighten($red, 50%);
	border:1px solid lighten($red, 45%);
	margin-bottom:$v-rhythm;
	padding:($v-rhythm / 2) 10px;
	ul li {
		padding:($v-rhythm / 4) 0;
	}
}
.messages,
.message {
  @include clearfix();
  background-color:lighten(lightgreen, 10%);
  border:1px solid lightgreen;
  margin-bottom:$v-rhythm;
  padding:($v-rhythm / 2) 10px;
  ul li {
    padding:($v-rhythm / 4) 0;
  }
}
.formfield {
	margin-bottom:$v-rhythm;
	&.highlight {
		padding:($v-rhythm / 2) 10px;
		background-color:lighten($blue, 70%);
		border:1px solid lighten($blue, 60%);
	}
	&.hide {
		display:none;
	}
}
.formgroup {
  @include clearfix();
	position:relative;
	padding:$v-rhythm / 2 0;
	background-color:lighten($periwinkle, 10%);
	margin-bottom:$v-rhythm;
    &.highlight {
      background-color:$blue;
      label {
        color:white;
      }
    }
	.file-upload-close {
		position:absolute;
		top:50%;
		margin-top:-10px;
		right:10px;
		a {
			color:darken($periwinkle, 10%);
			&:hover {
				color:darken($periwinkle, 20%);
			}
		}
	}
	.title {
		margin-top:-($v-rhythm / 2);
		padding:($v-rhythm / 2) 20px;
		background-color:$periwinkle;
		@include font-size(18);
		font-weight:$font-bold;
		color:darken($periwinkle, 30%);
		margin-bottom:$v-rhythm;

      small {
        font-size:70%;
      }
	}
	.formfield {
		padding-left: 20px;
		padding-right: 20px;
	}
}
ul.button-menu {
	@include horizontal-list();
	li a {
		display:inline-block;
		@include secondary-but();
	}
}
.help {
    display: none;
    width:16px;
    height:16px;
    background:url('../img/help_icon.png') top left no-repeat;
    &:hover {
    	background:url('../img/help_icon.png') top right no-repeat;
    }
}
.help-box {
    background:$light-grey;
    border:#dedede 1px solid;
    padding:5px 10px;
    display: block;
    margin-bottom: $v-rhythm / 2;
}
.sub-box {
  display:none;
  background:white;
  padding:10px 20px;
  border:1px solid $periwinkle;
}
.buttons,
.loading {
	@include clearfix();
	margin-bottom:$v-rhythm;
}
.loading {
	display:none;
}
.small-print {
	@include font-size(12);
	color:$grey;
    font-style: italic;
}
.italic {
  font-style: italic;
}
.bold {
  font-style: bold;
}
.grey-box {
	@include clearfix();
    @include background(linear-gradient(left, $light-grey, white));
    border-top:2px solid rgb(0, 37, 127);
    border-bottom:2px solid rgb(0, 37, 127);
    padding:($v-rhythm / 2) 20px;
}
ul.display-details {
	li {
		@include clearfix();
		margin-bottom:$v-rhythm / 2;
		strong {
			display:block;
			padding:($v-rhythm / 4) 10px;
			background-color:lighten($blue, 70%);
		}
		span {
			display:block;
			border:1px solid lighten($blue, 70%);
			padding:($v-rhythm / 4) 10px;
		}
		@include breakpoint($l) {
			width:70%;
		}
	}
}
.fees-people {
  display:none;
  @include font-size(12);
  .fees-person-clone {
    display:none;
  }
  .table-option {
    float:right;
    font-weight: $font-bold;
  }
  .fees-select {
    display: none;
  }
  .total-project-fee {
    margin-top:$v-rhythm;
  }
}

ul.square {
  list-style:square;
  margin-bottom:$v-rhythm;
  padding-left: 20px;
}
.datepicker {
  background:url(images/iconCalendar.gif) no-repeat 10px center;
  padding-left:40px !important;
  padding:$v-rhythm / 4 10px;
}
.workorder-table {
  thead {
    background-color:$blue;
    color:white;
  }
  tr {
    border-bottom:1px solid $periwinkle;
    &:last-child {
      border-bottom:0;
    }
    td {
      padding:($v-rhythm / 2) 10px;

      .action-buttons {
        text-align: right;
      }
    }
  }

}

.euro-field {
  &:before {
    content: "€";
  }
}

.rate-table {
  border:1px solid white;
  thead {
    td {
      border-top:1px solid white;
      border-bottom:1px solid white;
    }
  }
  tr {
    td {
      border-bottom:1px solid white;
      padding:5px;
      text-align: right;
      &:first-child {
        text-align: left;
      }
    }
  }
}

.index-table {
  width: 100%;
  @include font-size(12);
  tr > td {
    border-left: 1px solid darken(white, 10%);
    vertical-align: middle;
    &.content-center {
      text-align: center;
    }
    &.content-right {
      text-align: right;
    }
    &:last-child {
      border-right: 1px solid darken(white, 10%);
    }
    &.hide-s {
      display: none;
      @include breakpoint($m) {
        display: table-cell;
      }
    }
    &.hide-m {
      display: none;
      @include breakpoint($l) {
        display: table-cell;
      }
    }
    &.show-s {
      display: none;
      @include breakpoint($m-max) {
        display: table-cell;
      }
    }
    &.show-m {
      display: none;
      @include breakpoint($l-max) {
        display: table-cell;
      }
    }
  }
  thead {
    tr {
      & > td {
        background-color: $grey;
        @include dark-grad($grey, top, 10%);
        color: white;
        border-collapse: separate;
        text-transform: uppercase;
        @include font-size(12);
        font-weight: $font-bold;
        padding: ($v-rhythm / 4) 15px;
        &.sub-header {
          background-color: $light-grey;
          @include dark-grad($light-grey, top, 10%);
          color: $grey;
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid darken(white, 10%);
      & > td {
        padding: 5px 15px;
        &.actions,
        &.archive-count,
        &.client-links {
          padding: 5px;
          width: 1%;
          white-space: nowrap;
        }
        &.actions {
          .full-width {
            width: 100%;
            text-align: left;
          }
        }
        &.archive-count,
        &.client-links {
          padding-right: 10px;
          border-left: 0;
          color: $grey;
        }
        .event-log-icon {
          padding-right: 10px;
        }
      }
      //      &:nth-child(even) {
      //        background-color:darken(white, 5%);
      //      }
      //      &:last-child {
      //      }
      &.dormant {
        background-color: darken(white, 5%);
        .status-dormant {
          border-right: 1px solid darken(white, 5%);
        }

      }
    }
  }
  button {
    line-height: 1;
    font-size: 12px;
  }
}

.block-but {
  line-height:1.2; display:block;
}

.inline-field {
  width:80% !important;
}

.fee-days, .fee-flatrate {
  display:none;
}

//Classes used in the Unit fees table to display the correct rates
.rate-table-high-rate, .rate-table-standard-rate {
  display:none;
}

//Buttons that are JS-dependent. Hide until JS displays them.
.js-block {
  display:none;
}